* {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  width: 1200px;
  height: 86px;
  border-bottom: 1px solid #E1E1E1;
  margin: 0 auto; }
  header > div:nth-child(1) {
    float: left; }
  header > div:nth-child(2) {
    float: right;
    width: 100px;
    height: 28px;
    border: 1px solid #E1E1E1;
    font-size: 14px;
    color: #363636;
    text-align: center;
    line-height: 28px;
    margin-top: 12px;
    margin-right: 45px; }
    header > div:nth-child(2) img {
      vertical-align: middle; }
    header > div:nth-child(2) > img:nth-child(1) {
      margin-right: 6px;
      margin-bottom: 2px; }
    header > div:nth-child(2) > img:nth-child(3) {
      margin-left: 6px;
      margin-bottom: 2px; }
  header > div:nth-child(3) {
    margin-right: 25px;
    float: right;
    color: #999;
    font-size: 14px;
    margin-top: 20px; }
    header > div:nth-child(3) > span:nth-child(2) {
      color: blue; }

nav {
  width: 1200px;
  height: 455px;
  margin: 0 auto;
  background: #FCFCFC; }
  nav .nav_left {
    float: left;
    margin-left: 180px;
    margin-top: 30px; }
  nav .nav_right {
    float: right;
    width: 330px;
    height: 371px;
    margin-top: 45px;
    margin-right: 155px; }
    nav .nav_right > div:nth-child(1) {
      width: 100%;
      margin-bottom: 5px; }
      nav .nav_right > div:nth-child(1) > span:nth-child(1) {
        font-size: 14px; }
      nav .nav_right > div:nth-child(1) > span:nth-child(2) {
        color: blue;
        font-size: 12px;
        float: right; }
    nav .nav_right > div:nth-child(2) {
      width: 330px;
      height: 55px;
      border: 1px solid #DEDEDE;
      line-height: 55px;
      background: #fff; }
      nav .nav_right > div:nth-child(2) img {
        vertical-align: middle;
        margin-bottom: 5px;
        margin-left: 20px; }
      nav .nav_right > div:nth-child(2) input {
        width: 250px;
        height: 50px;
        border: none;
        margin-left: 30px;
        outline: none; }
    nav .nav_right > div:nth-child(3) {
      width: 330px;
      height: 55px;
      border: 1px solid #DEDEDE;
      line-height: 55px;
      margin-top: 12px;
      background: #fff; }
      nav .nav_right > div:nth-child(3) img {
        vertical-align: middle;
        margin-bottom: 5px;
        margin-left: 20px; }
      nav .nav_right > div:nth-child(3) input {
        width: 250px;
        height: 50px;
        border: none;
        margin-left: 30px;
        outline: none; }
    nav .nav_right > div:nth-child(4) {
      width: 330px;
      height: 55px;
      line-height: 55px;
      font-size: 11px;
      color: #DEDEDE; }
      nav .nav_right > div:nth-child(4) .a {
        vertical-align: middle;
        margin-left: 5px; }
      nav .nav_right > div:nth-child(4) > span:nth-child(2) {
        margin-left: 11px; }
      nav .nav_right > div:nth-child(4) > span:nth-child(3) {
        float: right; }
    nav .nav_right > div:nth-child(5) button {
      width: 330px;
      height: 55px;
      background: #FF3F3F;
      border: none;
      font-size: 15px;
      color: #fff;
      border-radius: 3px;
      outline: none; }
    nav .nav_right > div:nth-child(6) {
      font-size: 12px;
      width: 330px;
      height: 55px;
      line-height: 55px; }
    nav .nav_right > div:nth-child(7) {
      width: 330px;
      height: 55px;
      line-height: 55px;
      font-size: 13px;
      color: #8c8c8c; }
      nav .nav_right > div:nth-child(7) img {
        vertical-align: middle; }
      nav .nav_right > div:nth-child(7) > span:nth-child(2) {
        float: right; }
        nav .nav_right > div:nth-child(7) > span:nth-child(2) span {
          margin-right: 6px; }
        nav .nav_right > div:nth-child(7) > span:nth-child(2) img {
          margin-bottom: 3px; }
      nav .nav_right > div:nth-child(7) > img:nth-child(3) {
        float: right; }

.nav_bottom {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  color: #363636; }
  .nav_bottom p {
    margin-top: 15px; }

/*# sourceMappingURL=index.css.map */
