* {
  margin: 0;
  padding: 0;
  list-style: none; }

.Top {
  height: 36px;
  color: #565656;
  box-shadow: inset 0 0 20px 3px #e1e1e1; }
  .Top > div {
    float: left; }
  .Top > div:nth-child(2) {
    overflow: hidden; }
  .Top .Top_left {
    height: 36px;
    line-height: 36px;
    margin-left: 50px; }
  .Top .Top_right {
    width: 597px;
    height: 36px;
    float: right;
    line-height: 36px;
    margin-right: 33px;
    overflow: hidden; }
    .Top .Top_right > div {
      float: left;
      padding: 0 0 5px  10px; }
      .Top .Top_right > div img {
        vertical-align: middle; }
    .Top .Top_right > div:nth-child(2) {
      color: orangered; }

nav {
  height: 140px; }
  nav > div {
    float: left; }
  nav .search {
    width: 500px;
    border: 2px solid #FF3F3F;
    margin-left: 122px;
    height: 40px;
    margin-top: 50px; }
    nav .search input {
      width: 405px;
      height: 35px;
      border: none;
      margin-left: 5px;
      font-size: 18px;
      outline: none; }
    nav .search button {
      width: 90px;
      height: 40px;
      border: none;
      background: #FF3F3F;
      font-size: 18px;
      color: #fff;
      outline: none; }
    nav .search > p {
      margin-top: 7px;
      font-size: 13px;
      color: #8c8c8c; }
      nav .search > p span {
        padding: 0 0 0 16px; }
  nav > div:nth-child(1) {
    margin-top: 40px;
    margin-left: 60px; }
  nav .nav_right {
    margin-top: 50px;
    margin-left: 213px;
    width: 124px;
    height: 42px;
    border: 1px  solid #8c8c8c;
    text-align: center;
    line-height: 42px;
    background: #F6F6F6;
    color: #8c8c8c;
    font-size: 13px;
    overflow: hidden; }
    nav .nav_right img {
      vertical-align: middle;
      margin-right: 21px;
      margin-bottom: 3px; }

.submenu {
  width: 1200px;
  height: 45px;
  border-bottom: 2px solid orangered;
  margin: 0 auto; }
  .submenu .submenu_left {
    width: 213px;
    height: 45px;
    float: left;
    border: 1px solid red;
    text-align: center;
    line-height: 45px;
    color: #fff;
    background: #FF3F3F;
    font-size: 16px; }
  .submenu .submenu_top {
    width: 610px;
    height: 45px;
    float: left;
    line-height: 45px;
    font-size: 16px;
    margin-left: 19px; }
    .submenu .submenu_top > div {
      float: left;
      color: #414141;
      font-weight: bold; }
    .submenu .submenu_top > div:nth-child(1) {
      color: #FF3F3F; }
    .submenu .submenu_top > div:nth-child(2) {
      margin-left: 34px;
      color: #FF3F3F; }
    .submenu .submenu_top > div:nth-child(3) {
      margin-left: 34px; }
    .submenu .submenu_top > div:nth-child(4) {
      margin-left: 34px; }
    .submenu .submenu_top > div:nth-child(5) {
      margin-left: 34px; }
    .submenu .submenu_top > div:nth-child(6) {
      margin-left: 34px; }
    .submenu .submenu_top > div:nth-child(7) {
      margin-left: 34px; }
    .submenu .submenu_top > div:nth-child(8) {
      margin-left: 34px; }
  .submenu .submenu_right {
    float: right;
    overflow: hidden;
    width: 115px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #8c8c8c; }
    .submenu .submenu_right img {
      vertical-align: middle;
      margin-bottom: 2px; }

.Prompt {
  width: 1200px;
  margin: 0 auto;
  height: 70px; }
  .Prompt > div {
    float: left;
    margin-top: 23px;
    color: #8c8c8c;
    font-size: 14px; }
  .Prompt > div:nth-child(4) {
    width: 107px;
    height: 25px;
    border: 1px dashed #8c8c8c;
    margin-left: 10px;
    text-align: center; }
    .Prompt > div:nth-child(4) > span:nth-child(2) {
      color: orangered; }

.screen {
  width: 1200px;
  height: 223px;
  border: 2px solid #8c8c8c;
  margin: 0 auto; }
  .screen > div {
    font-size: 13px;
    color: #8c8c8c; }
  .screen > div:nth-child(1) {
    width: 1200px;
    height: 70px;
    border-bottom: 1px solid #8c8c8c; }
    .screen > div:nth-child(1) > div:nth-child(1) {
      margin-top: 16px; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(1) {
        margin-left: 18px; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(2) {
        margin-left: 58px;
        color: orangered; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(3) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(4) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(5) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(6) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(7) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(8) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(9) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > div:nth-child(1) > span:nth-child(10) {
        margin-left: 26px; }
    .screen > div:nth-child(1) > p:nth-child(2) {
      margin-top: 16px; }
      .screen > div:nth-child(1) > p:nth-child(2) > span:nth-child(1) {
        margin-left: 112px; }
      .screen > div:nth-child(1) > p:nth-child(2) > span:nth-child(2) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > p:nth-child(2) > span:nth-child(3) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > p:nth-child(2) > span:nth-child(4) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > p:nth-child(2) > span:nth-child(5) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > p:nth-child(2) > span:nth-child(6) {
        margin-left: 26px; }
      .screen > div:nth-child(1) > p:nth-child(2) > span:nth-child(7) {
        margin-left: 26px; }
  .screen > div:nth-child(2) {
    width: 1200px;
    height: 45px;
    border-bottom: 1px solid #8c8c8c;
    line-height: 45px; }
    .screen > div:nth-child(2) > span:nth-child(1) {
      margin-left: 18px; }
    .screen > div:nth-child(2) > span:nth-child(2) {
      margin-left: 65px; }
    .screen > div:nth-child(2) > span:nth-child(3) {
      margin-left: 26px; }
    .screen > div:nth-child(2) > span:nth-child(4) {
      margin-left: 26px; }
    .screen > div:nth-child(2) > span:nth-child(5) {
      margin-left: 26px; }
    .screen > div:nth-child(2) > span:nth-child(6) {
      margin-left: 26px; }
    .screen > div:nth-child(2) > span:nth-child(7) {
      margin-left: 26px; }
  .screen > div:nth-child(3) {
    width: 1200px;
    height: 45px;
    border-bottom: 1px solid #8c8c8c;
    line-height: 45px; }
    .screen > div:nth-child(3) > span:nth-child(1) {
      margin-left: 11px; }
    .screen > div:nth-child(3) > span:nth-child(2) {
      margin-left: 45px; }
    .screen > div:nth-child(3) > span:nth-child(3) {
      margin-left: 26px; }
    .screen > div:nth-child(3) > span:nth-child(4) {
      margin-left: 26px; }
    .screen > div:nth-child(3) > span:nth-child(5) {
      margin-left: 26px; }
    .screen > div:nth-child(3) > span:nth-child(6) {
      margin-left: 26px; }
  .screen > div:nth-child(4) {
    width: 1200px;
    height: 45px;
    line-height: 45px;
    overflow: hidden; }
    .screen > div:nth-child(4) > span:nth-child(1) {
      margin-left: 11px; }
    .screen > div:nth-child(4) > span:nth-child(2) {
      margin-left: 45px; }
    .screen > div:nth-child(4) > span:nth-child(3) {
      margin-left: 26px; }
    .screen > div:nth-child(4) > span:nth-child(4) {
      margin-left: 26px; }
    .screen > div:nth-child(4) > span:nth-child(5) {
      margin-left: 26px; }
    .screen > div:nth-child(4) > span:nth-child(6) {
      margin-left: 26px; }

.records {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 21px; }
  .records > div {
    float: left; }
  .records > div:nth-child(1) {
    width: 213px;
    height: 39px;
    line-height: 40px;
    border: 1px solid #8c8c8c;
    font-size: 17px;
    color: orangered; }
    .records > div:nth-child(1) div {
      float: left; }
    .records > div:nth-child(1) > div:nth-child(1) {
      height: 11px;
      border: 2px solid orangered;
      margin-top: 13px;
      margin-left: 11px; }
    .records > div:nth-child(1) > div:nth-child(2) {
      margin-left: 7px; }
    .records > div:nth-child(1) > div:nth-child(3) {
      margin-left: 86px;
      font-size: 14px;
      color: #8c8c8c;
      overflow: hidden; }
  .records > div:nth-child(2) {
    width: 284px;
    height: 25px;
    border: 1px solid #8c8c8c;
    margin-top: 7px;
    border-left: none;
    border-right: none; }
    .records > div:nth-child(2) > div {
      width: 70px;
      height: 25px;
      float: left;
      font-size: 12px;
      line-height: 24px;
      color: #8c8c8c;
      border-right: 1px solid #8c8c8c; }
      .records > div:nth-child(2) > div span {
        margin-left: 12px; }
    .records > div:nth-child(2) > div:nth-child(4) {
      overflow: hidden; }
    .records > div:nth-child(2) > div:nth-child(1) {
      background: orangered;
      color: #fff; }
  .records > div:nth-child(3) {
    height: 25px;
    float: right;
    line-height: 25px;
    color: #8c8c8c;
    font-size: 13px;
    margin-right: 15px;
    overflow: hidden; }

main {
  width: 1210px;
  height: 1250px;
  margin: 0 auto;
  margin-top: 1px; }
  main .main_left {
    width: 213px;
    height: 1225px;
    float: left;
    border-right: 1px solid #8c8c8c;
    margin-left: 5px;
    border-left: 1px solid #8c8c8c; }
    main .main_left > div {
      width: 213px;
      height: 244px;
      border-bottom: 1px solid #8c8c8c; }
      main .main_left > div img {
        margin-top: 12px; }
      main .main_left > div p {
        text-align: center; }
      main .main_left > div > p:nth-child(2) {
        margin-top: 5px;
        font-size: 14px;
        color: #8c8c8c; }
      main .main_left > div > p:nth-child(3) {
        font-size: 16px;
        color: #B00504;
        margin-top: 4px; }
  main .main_right {
    width: 990px;
    height: 1200px;
    overflow: hidden;
    float: right; }
    main .main_right > div {
      float: left;
      width: 243px;
      text-align: center;
      margin-top: 43px;
      height: 333px; }
      main .main_right > div > p:nth-child(2) {
        color: orangered;
        font-size: 17px; }
      main .main_right > div > p:nth-child(3) {
        font-size: 14px;
        color: #8c8c8c; }
      main .main_right > div > div:nth-child(4) {
        width: 211px;
        height: 32px;
        border: 1px solid #8c8c8c;
        margin: 0 auto;
        margin-top: 18px; }
        main .main_right > div > div:nth-child(4) div {
          float: left; }
        main .main_right > div > div:nth-child(4) img {
          vertical-align: middle; }
        main .main_right > div > div:nth-child(4) > div:nth-child(1) {
          width: 70px;
          height: 32px;
          text-align: center;
          line-height: 30px;
          border-right: 1px solid #8c8c8c; }
          main .main_right > div > div:nth-child(4) > div:nth-child(1) span {
            margin-left: 13px; }
        main .main_right > div > div:nth-child(4) > div:nth-child(2) {
          width: 140px;
          height: 32px;
          text-align: center;
          line-height: 30px;
          color: orangered; }
          main .main_right > div > div:nth-child(4) > div:nth-child(2) span {
            margin-left: 22px; }

/*# sourceMappingURL=index.css.map */
