@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  list-style: none;

}
$width:100%;

.Top{
  height: 36px;
  //border: 1px solid red;
  color: #565656;
  box-shadow:inset 0 0 20px 3px #e1e1e1;



  >div{
    float: left;
  }
  >div:nth-child(2){
    overflow: hidden;
  }


  .Top_left{
    height: 36px;
    line-height: 36px;
    margin-left: 50px;
  }

  .Top_right{
    width: 597px;
    height: 36px;
    float: right;
    line-height: 36px;
    margin-right: 33px;
    overflow: hidden;
        >div{
          float:left;
          padding:  0 0 5px  10px;
          img{
            vertical-align: middle;
          }
        }

      >div:nth-child(2){
          color: orangered;
      }


    }


}


nav{
  //border: 1px solid black;
  height: 140px;

  >div{
    float: left;

  }

  .search{
    width: 500px;
    border: 2px solid #FF3F3F;
    margin-left: 122px;
    height: 40px;
    margin-top: 50px;


        input{
          width: 405px;
          height: 35px;
          //margin-left: 1px;
          border: none;
          margin-left: 5px;
          font-size: 18px;
          outline: none;

        }
        button{
          width: 90px;
          height: 40px;
          border: none;
          background: #FF3F3F;
          font-size: 18px;
          color: #fff;
          outline: none;
        }


          >p{
            margin-top: 7px;
            font-size: 13px;
            color: #8c8c8c;
            //margin-right: 30px;
              span{
                padding: 0 0 0 16px;


              }
          }
  }








  >div:nth-child(1){
      margin-top: 40px;
    margin-left: 60px;
  }





  .nav_right{
    margin-top: 50px;
    margin-left: 213px;
    width: 124px;
    height: 42px;
    border: 1px  solid #8c8c8c;
    text-align: center;
    line-height: 42px;
    background: #F6F6F6;
    color: #8c8c8c;
    font-size: 13px;
    overflow: hidden;
    img{
      vertical-align: middle;
      margin-right: 21px;
      margin-bottom: 3px;
    }

  }






}




//submenu


.submenu{
  width: 1200px;
  height: 45px;
  border-bottom: 2px solid orangered;
  margin: 0 auto;

       .submenu_left{
         width: 213px;
         height: 45px;
         float: left;
         border: 1px solid red;
         text-align: center;
         line-height: 45px;
         color: #fff;
         background: #FF3F3F;
         font-size: 16px;
       }



        .submenu_top{
          width: 610px;
          height: 45px;
          float: left;
          //border: 1px solid red;
          line-height: 45px;
          font-size: 16px;
          margin-left: 19px;



              >div{
                float: left;
                color: #414141;
                font-weight: bold;
              }
              >div:nth-child(1){
                color: #FF3F3F;
              }
              >div:nth-child(2){
                  margin-left: 34px;
                  color: #FF3F3F;
              }
              >div:nth-child(3){
                margin-left: 34px;
              }
              >div:nth-child(4){
                margin-left: 34px;
              }
              >div:nth-child(5){
                margin-left: 34px;
              }
              >div:nth-child(6){
                margin-left: 34px;
              }
              >div:nth-child(7){
                margin-left: 34px;
              }
              >div:nth-child(8){
                margin-left: 34px;
              }
        }




          .submenu_right{
            float: right;
            overflow: hidden;
            width: 115px;
            height: 45px;
            //border: 1px solid red;
            line-height: 45px;
            text-align: center;
            color: #8c8c8c;
                img{
                  vertical-align: middle;
                  margin-bottom: 2px;
                }
          }
}




.Prompt{
  width: 1200px;
  //border: 1px solid red;
  margin: 0 auto;
  height: 70px;
  >div{
    float: left;
    margin-top: 23px;
    color: #8c8c8c;
    font-size: 14px;
  }

  >div:nth-child(4){
    width: 107px;
    height: 25px;
    border: 1px dashed #8c8c8c;
    margin-left: 10px;
    text-align: center;
    >span:nth-child(2){
      color: orangered;
    }
  }


  //Prompt
}









.hot{
  width: 1200px;
  //border: 1px solid red;
  height: 400px;
  margin: 0 auto;


        .hot_left{
          width: 394px;
          height: 400px;
          //border: 1px solid red;
          float: left;


                img{
                  width: 100%;
                  height: 100%;
                }
        }







.hot_center{
    float: left;
    width: 477px;
  height: 400px;
    //border: 1px solid black;

     .hot_center_1{
       margin-left: 30px;
        >div:nth-child(1){
          font-size: 18px;
          color: black;
          font-weight: bold;
        }
         >div:nth-child(2){
          color: #8c8c8c;
           font-size: 13px;
         }

     }



      .hot_center_2{
        margin-left: 30px;
      >div:nth-child(1){
        margin-top: 30px;
        >span:nth-child(1){
          font-size: 13px;
          color: #8c8c8c;
        }
        >span:nth-child(2){
          font-size: 18px;
          color: #FF3F3F;
        }

      }


        >div:nth-child(2){
          margin-top: 13px;
          >span:nth-child(1){
            font-size: 13px;
            color: #8c8c8c;

          }
          >span:nth-child(2){
            font-size: 15px;
            //color: #FF3F3F;
            color: #9C9FA2;
          }

        }



      }


        .hot_center_3{
          margin-left: 30px;
          width: 477px;

            >div:nth-child(1){
              margin-top: 31px;
              height: 30px;
              width: 100%;
              float: left;
              //border: 1px solid red;
              line-height: 30px;
              >div{
                float: left;
              }


              >div:nth-child(1){
                font-size: 14px;
                color: #8c8c8c;

              }

              >div:nth-child(2){
                width: 70px;
                height: 30px;
                border: 2px solid orangered;
                font-size: 14px;
                color: #8c8c8c;
                line-height: 30px;
                text-align: center;
                //margin-left: 10px;

              }

              >div:nth-child(3){
                width: 70px;
                height: 30px;
                border: 1px solid #8c8c8c;
                font-size: 14px;
                color: #8c8c8c;
                line-height: 30px;
                text-align: center;
                margin-top: 1px;
                margin-left: 10px;
              }

              >div:nth-child(4){
                width: 70px;
                height: 30px;
                border: 1px solid #8c8c8c;
                font-size: 14px;
                color: #8c8c8c;
                line-height: 30px;
                text-align: center;
                margin-top: 1px;
                margin-left: 10px;
              }



            }



          >div:nth-child(2){
            width: 100%;
            float: left;
            height: 30px;
            //border: 1px solid red;
            margin-top: 10px;
            >div{
              float: left;
            }
            >div:nth-child(1){
              font-size: 13px;
              color: #8c8c8c;
              line-height: 30px;
            }


            >div:nth-child(2){
              width: 70px;
              height: 30px;
              border: 1px solid #8c8c8c;
              font-size: 14px;
              color: #8c8c8c;
              line-height: 30px;
              text-align: center;
              margin-top: 1px;

            }



            >div:nth-child(3){
              width: 70px;
              height: 30px;
              border: 2px solid orangered;
              font-size: 14px;
              color: #8c8c8c;
              line-height: 30px;
              text-align: center;
              //margin-top: 1px;
              margin-left: 10px;

            }


          }


        }












}



  .hot_center_4{
    width: 100%;
    //border: 1px solid red;
    float: left;
    margin-top: 37px;

        img{
          vertical-align: middle;
          margin-bottom: 2px;
        }
    span{
      margin-left: 6px;
    }

          >div:nth-child(1){
            margin-left: 30px;
            float: left;
          }


          >div:nth-child(2){
            margin-left: 30px;
            float: left;
          }


  }


.hot_center_5{
    float: left;
  //border: 1px solid red;
  margin-top: 40px;
  margin-left: 30px;


        >div{
          float: left;
        }


        >div:nth-child(1){
            width: 82px;
          height: 47px;
          border: 1px solid #8c8c8c;
          text-align: center;
          line-height: 40px;
          font-size: 15px;
        }

        >div:nth-child(2){
          width: 182px;
          height: 49px;
          background: orangered;
          text-align: center;
          line-height: 47px;
          margin-left: 10px;
              img{
                vertical-align: middle;
              }
        }


}






  .hot_right{
    width: 190px;
    height: 192px;
    float: right;
    //border: 1px solid red;
    overflow: hidden;
    font-size: 18px;
    //color: #8c8c8c;
    text-align: center;
    //line-height: 38px;
      >div:nth-child(2){
          width: 100%;
          height: 55px;
        background: #8c8c8c;
        line-height: 55px;
      }


      >div:nth-child(1){
          height: 135px;
        img{
          width: 100%;
          height: 100%;
        }
      }


  }



  //hot
}





.banner{
  width: 1200px;
  height: 117px;
  //border: 1px solid red;
  margin: 0 auto;


        >div{
          width: 88px;
          height: 88px;
          float: left;
          line-height: 88px;
          margin-top: 10px;

                img{
                  width: 99.9px;
                  height: 99.9px;

                }
        }



        >div:nth-child(1){
          margin-left: 20px;
        }

        >div:nth-child(2){
          margin-left: 15px;
        }

        >div:nth-child(3){
          margin-left: 15px;
        }

        >div:nth-child(4){
          margin-left: 15px;
        }


}

.guild{
      width: 1201px;
      height: 32px;
      border: 1px solid #EAEAEA;
      margin: 0  auto;
      margin-top: 14px;
      background: #F6F6F6;
      border-bottom: none;
      div{
        float: left;
      }

        >div:nth-child(1){
          width: 212px;
          height: 31px;
          border: none;
          line-height: 31px;

          span{
            margin-left: 10px;
            font-size: 14px;
            color: #8c8c8c;
          }
        }



    >div:nth-child(2){
      width: 110px;
      height: 31px;
      //border: 1px solid red;
      float: left;
      overflow: hidden;
      text-align: center;
      line-height: 31px;
      background: #fff;
      border-bottom: 1px solid #fff;
      font-size: 14px;
      //border-left: 1px solid #8c8c8c;
    }



}



.summary{

  width: 1201px;
  margin: 0 auto;
  //border: 1px solid #EAEAEA;
  margin-top: 2px ;
  height: 5000px;


            .summary_left{
              float: left;
              font-size: 15px;
              color: #8c8c8c;

              p{
                text-align: center;
              }
              img{
                margin-top: 12px;
              }
              >div{
                width: 210px;
                height: 240px;
                border-bottom: 1px solid #EAEAEA;
                border-left: 1px solid #EAEAEA;
                border-right: 1px solid #EAEAEA;

                        >p:nth-child(3){
                          font-size: 18px;
                          color: #B00504;
                        }
              }





            }












              .summary_right{
                width: 987px;
                float: left;
                overflow: hidden;
                border: 1px solid #EAEAEA;
                border-left: none;
                border-top: none;
                border-bottom: none;
                height: 4900px;



              //  >div:nth-child(2){
              //      width: 25px;
              //    height: 25px;
              //    margin-top: 90px;
              //    margin-left: 70px;
              //  }
              //
              //  >div:nth-child(4){
              //    width: 25px;
              //    height: 25px;
              //    margin-top: 90px;
              //    margin-left: 45px;
              //  }
              //
              //  >div:nth-child(6){
              //    width: 25px;
              //    height: 25px;
              //    margin-top: 90px;
              //    margin-left: 87px;
              //  }
              //
              //  >div{
              //    //width: 145px;
              //    height: 247px;
              //    //border: 1px solid #8c8c8c;
              //    float: left;
              //    text-align: center;
              //
              //          .z{
              //            margin-top: 32px;
              //            font-size: 13px;
              //            color: #8c8c8c;
              //          }
              //
              //          .z1{
              //            font-size: 15px;
              //            color: #8c8c8c;
              //            font-weight: bold;
              //          }
              //
              //          input{
              //            margin-right: 58px;
              //            margin-top: 2px;
              //          }
              //
              //  }
              //
              //
              //
              //  >div:nth-child(1){
              //      margin-left: 30px;
              //    margin-top: 27px;
              //  }
              //
              //
              //>div:nth-child(3){
              //  margin-left: 34px;
              //  margin-top: 27px;
              //}
              //
              //  >div:nth-child(5){
              //    margin-left: 34px;
              //    margin-top: 27px;
              //  }
              //
              //
              //  >div:nth-child(7){
              //    height: 190px;
              //    margin-left: 26px;
              //    font-size: 14px;
              //    margin-top: 55px;
              //          >div:nth-child(1){
              //            color: orangered;
              //                >span:nth-child(2){
              //                    font-size: 16px;
              //                }
              //          }
              //
              //
              //
              //  }


              }







}

.z2{
  width: 60px;
  height: 25px;
  border: 1px solid #8c8c8c;
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
  margin-top: 14px;
}
.z3{
  width: 120px;
  height: 35px;
  background: orangered;
  margin: 0 auto;
  margin-top: 14px;
  text-align: center;
  line-height: 35px;
  color: #fff;
}



.summary_right1{
  width: 987px;
  float: left;
  overflow: hidden;
  border: 1px solid #EAEAEA;
  border-left: none;
  border-top: none;



  >div:nth-child(2){
    width: 25px;
    height: 25px;
    margin-top: 90px;
    margin-left: 70px;
  }

  >div:nth-child(4){
    width: 25px;
    height: 25px;
    margin-top: 90px;
    margin-left: 45px;
  }

  >div:nth-child(6){
    width: 25px;
    height: 25px;
    margin-top: 90px;
    margin-left: 87px;
  }

  >div{
    //width: 145px;
    height: 247px;
    //border: 1px solid #8c8c8c;
    float: left;
    text-align: center;

    .z{
      margin-top: 32px;
      font-size: 13px;
      color: #8c8c8c;
    }

    .z1{
      font-size: 15px;
      color: #8c8c8c;
      font-weight: bold;
    }

    input{
      margin-right: 58px;
      margin-top: 2px;
    }

  }



  >div:nth-child(1){
    margin-left: 30px;
    margin-top: 27px;
  }


  >div:nth-child(3){
    margin-left: 34px;
    margin-top: 27px;
  }

  >div:nth-child(5){
    margin-left: 34px;
    margin-top: 27px;
  }


  >div:nth-child(7){
    height: 190px;
    margin-left: 26px;
    font-size: 14px;
    margin-top: 55px;
    >div:nth-child(1){
      color: orangered;
      >span:nth-child(2){
        font-size: 16px;
      }
    }



  }


}

//--------------------------------------



//summary_right2

.summary_right2{
  width: 987px;
  border-top: 2px solid orangered;
  height: 30px;
  float: left;
  margin-top: 12px;
  background: #F6F6F6;
  color: orangered;
  line-height: 30px;
  div{
   margin-left: 24px;
    font-size: 14px;
  }
}



.summary_right3{
  width: 987px;
  height: 408px;
  float: left;
  //border: 1px solid red;
    img{
        float: left;
      margin-left: 110px;
      margin-top: 25px;
    }
}



.summary_right4{
  height: 200px;
  width: 987px;
  //border: 1px solid red;
  float: left;
  img{

    margin-left: 110px;
    //margin-top: 25px;
  }
}


.summary_right5{
  width: 987px;
  border: 1px solid #EAEAEA;
  border-top: none;
  float: left;
  height: 3150px;
  img{
    margin-left: 110px;
  }
}

.summary_right6{

    img{
      margin-top: 12px;
    }
}











#lef,#rig{
  position: absolute;
  //top: 20px;
}
#lef{
  width: 394px;
  height: 400px;
  //border: 1px solid #000;
}
#lef img{
  width: 100%;
  height: 100%;
}
#rig{
  left: 550px;
  width: 200px;
  height: 200px;
  //border: 1px solid #000000;
  overflow: hidden;
  display: none;
  position: absolute;
  //left: 0;
  top: 300px;
}
#rig img{
  position: absolute;
  left: 0;
  top: 0;
}
#small_shadow{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.3);
  display: none;
}









